{% extends 'Front_Base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1>Calendrier des événements</h1>
    <div id="calendar"></div> {# Conteneur pour FullCalendar #}
</div>
{% endblock %}