{% extends 'Back_Base.html.twig' %}

{% block title %}Edit Department{% endblock %}

{% block body %}
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3">Edit Department</h3>
                <h6 class="op-7 mb-2">Update department information</h6>
            </div>
            <div class="ms-md-auto py-2 py-md-0">
                <a href="{{ path('app_department_index') }}" class="btn btn-secondary btn-round">
                    <i class="fa fa-arrow-left"></i> Back to List
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {{ include('department/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Danger Zone</h4>
                    </div>
                    <div class="card-body">
                        {{ include('department/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
