{% extends 'Back_Base.html.twig' %}

{% block title %}New Department{% endblock %}

{% block body %}
<div class="content" style="margin-left:260px;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0">New Department</h4>
                        <a href="{{ path('app_department_index') }}" class="btn btn-secondary">
                            <i class="fa fa-arrow-left"></i> Back to List
                        </a>
                    </div>
                    <div class="card-body">
                        {{ include('department/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}